@import 'src/scss/settings/colors';

.hero {
  height: 500px;
  border: 1px solid red;
}
.whatIsAbout {
  height: 500px;
  border: 1px solid red;
}
.aboutUs {
  height: 500px;
  border: 1px solid red;
}
.organizations {
  height: 500px;
  border: 1px solid red;
}
.contact {
  height: 500px;
  border: 1px solid red;
}
