.nav {

  &__menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    color: $color-dark-grey;
    font-size: 18px;
    box-sizing: border-box;
  }
  &__item {

    cursor: pointer;
    padding: 10px 10px;

    &:hover {
      border: 1px solid $color-grey;
    }
  }

}
