@import "normalize.css";
@import "./settings/fonts";
@import "./settings/colors";


@import "navbar";

body {
  font-family: $font-base;
}

.main {
  box-sizing: border-box;
  max-width: 1900px;
  width: 100%;
}